.px-4 {
  background-color: skyblue;
}

.form-group {
 text-align: left;

}

.titleheading{
  background-color: "blue";
}
p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body{
   font-family: "Roboto", serif;
}

input{
  font-family: "Roboto", serif;
}

label{
  font-family: "Roboto", serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  color: white;
}

td, th {
  text-align: left;
  padding: 1em;
  padding-left: 20px;
  border-bottom: 2px solid skyblue;
}

#del{
  width: 7%;
}

tr:nth-child(even) {
  background-color: #7384e6;
}

tr:nth-child(odd) {
  background-color: #4b506d;
}