{% extends "base.html" %}
{% block title %} Resume {% endblock%} 
{% block content %} 
<head>
 
   <link lang='sass' rel="stylesheet" href="./static/styles/contact.css">
   <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>
<br></br>
<div class="titleheading">
<h2 align="center" > Timeline </h2>
</div>

<div class="px-4 py-5 my-5 text-center border-bottom" >
<div class="container">
<br></br>
<form action="/api/timeline_post" method="post">
  <div class="form-row">
    <div class="form-group col-md-6" align="left">
      <label for="inputFirst" align="left">Name </label>
      <input type="text"  id="inputFirst" class="form-control" name="first" placeholder= "Name">
    </div>
    <div class="form-group col-md-6" align="left">
        <label for="inputFirst" align="left">Email </label>
        <input type="text"  id="inputFirst" class="form-control" name="first" placeholder= "Email">
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6" align="center">
      <label for="inputFirst" align="left">Content </label>
      <input type="text" class="form-control" name="first" placeholder= "Content">
    </div>
  </div>
  <br></br>
  <button type="submit" value="submit"class="btn btn-primary">Submit</button>
</form>
</div>
</div>


{% endblock %}